#modal{
  border:1px solid red;
  position:absolute;
  text-align:center;
  top:30%;
  box-shadow:10px 5px 10px #dcdcdc;
  left:45%;
  display:none;
  background-color:white;
  width:300px;
  height:150px;
  color:black;
}